<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body class = "container mt-3" ng-app="web207" ng-controller=" web207-ctrl">
    <button class = "btn btn-primary"
        data-bs-toggle="modal" data-bs-target="#modalNew">New P
    </button>
    <table class = "table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat ="product in products">
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.quantity}}</td>
                <td>
                    <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modalDetail" ng-click="getProduct(product.id)">
                        Detail
                    </button>
                    <button class = "btn btn-danger">
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="modal" id = "modalDetail">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>{{selectedProducts.name}}</h4>
                </div>
                <div class="modal-body">
                    <img src="{{seletedProduct.image}}" width="400px">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" data-bs-dismiss ="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="modalNew">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>
                        Add New Product
                    </h4>
                </div>
                <div class="modal-body">
                    <p>Name:
                        <input type="text" ng-model="productName"/>
                    </p>
                    <p>Price:
                        <input type="number" ng-model="productPrice"/>
                    </p>
                    <p>quantity:
                        <input type="number" ng-model="productQuantity"/>
                    </p>
                </div>
                <div class="modal-footer">
                    <button class = "btn btn-success" ng-click="NewProduct()">
                        ADD
                    </button>
                    <button class = "btn btn-danger" data-bs-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script>
        var app = angular.module("web207",[]);
        app.controller("web207-ctrl",function($scope,$http){
            // Tạo Hàm Lấy DS sản phẩm
            var getProducts = function(){
                $http.get("https://63ec4a3d32a081172398cd32.mockapi.io/27977/Gemtones").then(function(response){
                    $scope.products = response.data;
                });
            }
            // Goi ham de lay ds san pham
            getProducts();

            // Tao ham de lay san pham theo id
            $scope.getProducts = function(id){
                $http.get("https://63ec4a3d32a081172398cd32.mockapi.io/27977/Gemtones"+id).then(function(response){
                    $scope.products = response.data;
                });
            }
            // Tao ham de them san pham moi
            $scope.newProducts = function(){
                var data = {
                    "name": $scope.productName,
                    "price": $scope.productPrice,
                    "quantity": $scope.productQuantity
                }
                console.log(data);
                $http.post("https://63ec4a3d32a081172398cd32.mockapi.io/27977/Gemtones",data).then(function(response){
                    console.log(response);
                    getProducts(); //reload
                });
            }

            // Tao ham de cap nhat san pham moi
            $scope.updateProductById = function(id){

                $http.put("https://63ec4a3d32a081172398cd32.mockapi.io/27977/Gemtones" +id).then(function(response){
                    console.log(response);
                    getProducts(); //reload
                });
            }

        });

        
    </script>
</body>
</html>