<div class="container" ng-controller="web207-ctrl">
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalNew">
        <i class="bi bi-plus-circle"></i>
    </button>

    <table class="table">
        <thead>
            <tr>
                <th> Id</th>
                <th> Name</th>
                <th> Price</th>
                <th> Type</th>
                <th> Quantity</th>
                <th> Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="product in products">
                <td> {{product.id}}</td>
                <td> {{product.name}}</td>
                <td> {{product.price}}</td>
                <td> {{product.type}}</td>
                <td> {{product.quantity}}</td>
                <td>
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalDetail"
                        ng-click="getProduct(product.id)"> Detail</button>
                    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalDelete"
                        ng-click="getProduct(product.id)"><i class="bi bi-trash"></i>Delete</button>
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalUpdate"
                        ng-click="getProduct(product.id)"><i class="bi bi-tools"></i> Update</button>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Hàm lấy dữ liệu -->
    <div class="modal" id="modalDetail">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>{{selectedProduct.name}}</h4>
                </div>
                <div class="modal-body">
                    <img src="{{selectedProduct.image}}" width="400px">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Hàm thêm -->
    <div class="modal" id="modalNew">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Add New Product</h4>
                </div>
                <div class="modal-body">
                    <p>Name:
                        <input type="text" ng-model="productName" style="width: 460px" required>


                    </p>
                    <p>Price:
                        <input type="text" ng-model="productPrice" style="width: 460px">
                    </p>
                    <p>Type:
                        <select name="type" class="form-select" ng-model="productType">
                            <option value="Diamond">Diamond</option>
                            <option value="Ruby">Ruby</option>
                            <option value="Saphire">Saphire</option>
                        </select>
                    </p>

                    <p>Quantity:
                        <input type="text" ng-model="productQuantity" style="width: 460px">
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" ng-click="newProduct()"> Add</button>
                    <button class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="modalDelete">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Do you want to delete this product?</h4>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" ng-click="deleteProduct(selectedProduct.id)"
                        data-bs-dismiss="modal"> Yes</button>
                    <button class="btn btn-danger" data-bs-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="modalUpdate">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Update</h4>
                </div>
                <div class="modal-body">
                    <p>Id:
                        {{selectedProduct.id}}
                    </p>
                    <p>Name:
                        <input type="text" ng-model="Name" style="width: 460px">
                    </p>
                    <p>Price:
                        <input type="text" ng-model="Price" style="width: 460px">
                    </p>
                    <p>Type:
                        <select name="type" class="form-select" ng-model="Type">
                            <option value="Diamond">Diamond</option>
                            <option value="Ruby">Ruby</option>
                            <option value="Saphire">Saphire</option>
                        </select>
                    </p>
                    <p>Quantity:
                        <input type="text" ng-model="Quantity" style="width: 460px">
                    </p>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" ng-click="updateProduct(selectedProduct.id)"> Update</button>
                    <button class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>